@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron" style="color:darkblue" id="start1">
        <div class="text-center">
            <h1 class="display-4">Welcome To Online Banking System</h1>
           
        </div>
    </div>