@*@model BankingSystem.ViewModels.CreateCustomerViewModel*@



<div class="card" id="welcome">
    <h1>Welcome to Online Banking </h1>
    <br />
    <h2>Your Account has been Registered  Successfully !!  </h2>
</div>